	
body{
font-family:Arial;
background:#f4f6fb;
margin:0;
}

.header{
background:white;
padding:15px;
display:flex;
justify-content:space-between;
box-shadow:0 2px 10px rgba(0,0,0,0.05);
}

.container{
padding:20px;
}

.card{
background:white;
padding:20px;
margin-bottom:20px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.05);
}

.balance{
font-size:28px;
color:#16a34a;
font-weight:bold;
}

button{
background:#1a73e8;
color:white;
border:none;
padding:10px;
border-radius:5px;
cursor:pointer;
margin-top:10px;
}

input, select{
width:100%;
padding:10px;
margin-top:10px;
}
